
.backImg {
  background-color: #f7c9c9;
  height: 100vh;
  width: 100vw;
}
.bottomContainer {
    /* margin-top: 40vh; */
    width: 100vw;
    height: 60vh;
    background-color: white;
    border-radius: 200px 0 0 0;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
  }
  .topContainer{
    height:40vh;
    
  }

  