.borderContainer {
  background-color: white;
}

.Container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f7c9c9;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 400px 0;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

.ScoreBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 55vw;
  height: 80vh;
  background-color: white;

}

.Top {
  margin-bottom: 4vh;
  margin-top: 7vh;
}

.YouAndMe {
  font-size: 5vh;
  font-family: "ChangwonDangamAsac";
}

.Middle {
  margin-bottom: 12vh;
  margin-top: 7vh;
}

.ScoreDiv {

  font-size: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "ChangwonDangamAsac";
  background-image: url("../../img/circleImg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70vh;
  height: 25vh;

}

.Bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.scoreBtn {
  text-decoration: underline;
  border: none;
  background-color: white;
  margin-bottom: 3vh;
  font-size: 1.5vh;
  font-weight: 700;
  font-family: "Jalnan";
}

.makeBtnBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  /* margin-left: 5vw; */
  position: relative;
}

.img1 {
  width: 7vh;
  height: 7vh;
  background-image: url("../../img/questionMarkImg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  position: relative;
  bottom: 5vh;
  left: 2vh;
  margin-left: 4vh;
}

.img2 {
  width: 12vh;
  height: 12vh;
  background-image: url("../../img/arrowImg3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(-10deg);
  position: relative;
  bottom: 1.5vh;
  right: 2vh;

}

.BtnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Btn {
  background-color: #8c9bbd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #96a9d1;
  width: 30vh;
  border-radius: 90px;
  height: 7vh;
  margin-bottom: 3vh;
  box-shadow: 2px 2px 2px 2px gray;
  border: none;
  font-size: 40px;
  font-weight: 700;
  color: white;
  text-shadow: 2px 4px 2px gray;
  font-family: "Jalnan";
  z-index: 1;

}



.score {
  margin-right: 20px;
  font-size: 80px;
}



.box1 {
  width: 50vw;
  height: 50vh;
  background-image: url("../../img/startImg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 10vh;
}

.arrowImg {
  display: inline-block;
  width: 30vh;
  height: 30vh;
  background-image: url("../../img/arrowImg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  bottom: 5vh;
  right: 25vw;
}