.container {
  width: 100vw;
  height: 20vh;
  z-index: 2;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .name{
    width:70vw;
    height:20vh;
} */

.progress1 {
  width: 70vw;
  height: 20vh;
  background-image: url("../../img/progress1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  /* border:none; */
}

.progress2 {
  width: 70vw;
  height: 20vh;
  background-image: url("../../img/progress2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.progress3 {
  width: 70vw;
  height: 20vh;
  background-image: url("../../img/progress3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.progress4 {
  width: 70vw;
  height: 20vh;
  background-image: url("../../img/progress4.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.progress5 {
  width: 70vw;
  height: 20vh;
  background-image: url("../../img/progress5.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.progress6 {
  width: 70vw;
  height: 20vh;
  background-image: url("../../img/progress6.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.progress7 {
  width: 70vw;
  height: 20vh;
  background-image: url("../../img/progress7.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.progress8 {
  width: 70vw;
  height: 20vh;
  background-image: url("../../img/progress8.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.progress9 {
  width: 70vw;
  height: 20vh;
  background-image: url("../../img/progress9.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.progress10 {
  width: 70vw;
  height: 20vh;
  background-image: url("../../img/progress10.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@media (max-width: 800px) {
  .container {
    width: 100vw;
    height: 20vh;
    z-index: 2;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .progress1 {
    width: 70vw;
    height: 20vh;
    background-image: url("../../img/progress1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .progress2 {
    width: 70vw;
    height: 20vh;
    background-image: url("../../img/progress2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .progress3 {
    width: 70vw;
    height: 20vh;
    background-image: url("../../img/progress3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .progress4 {
    width: 70vw;
    height: 20vh;
    background-image: url("../../img/progress4.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .progress5 {
    width: 70vw;
    height: 20vh;
    background-image: url("../../img/progress5.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .progress6 {
    width: 70vw;
    height: 20vh;
    background-image: url("../../img/progress6.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .progress7 {
    width: 70vw;
    height: 20vh;
    background-image: url("../../img/progress7.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .progress8 {
    width: 70vw;
    height: 20vh;
    background-image: url("../../img/progress8.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .progress9 {
    width: 70vw;
    height: 20vh;
    background-image: url("../../img/progress9.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .progress10 {
    width: 70vw;
    height: 20vh;
    background-image: url("../../img/progress10.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}